* {
  margin: 0px;
  padding: 0px;
}

#subscribe {
  display: flex;
  background-color: #60cb60;
  color: #fff;
  align-items: center;
  justify-content: center;
}

button {
  border: none;
  padding: 10px 15px;
  text-align: center;
  cursor: pointer;
  border-radius: 3px;
}

header {
  justify-content: center;
  display: flex;
  margin: 0 0 30px;
  background-color: #454545;
  padding: 20px;
}
header h1 {
  color: #fff;
}

.app {
  display: flex;
  align-items: center;
  justify-content: center;
}
